<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <h1 class="px-4 py-10 text-3xl">login account </h1>
        <form action="/login" method="post" class="">
            <input type="email" name="email" id="email" class="px-5 py-2 mx-1 my-2 rounded-md outline-none bg-transparont border-2  border-zinc-700 " placeholder="Email">
            <input type="password" name="password" id="password" class="px-3 py-2  mx-1 my-2rounded-md outline-none bg-transparont border-2  border-zinc-700 " placeholder="Password">
            <input type="submit" class="px-4 py-2 mx-2 my-2 bg-blue-500 rounded-md outline-none " value=" login account">
        </form>
<br>
<br>
<br>

     <div class="px-2 py-2 mx-1 my-2 bg-yellow-500 rounded-md outline-none w-45">
     <a href="/"
    class=" px-2 py-2text- 1.45xl outline-none">back to register  </a>
</div>
</form>       
    </div>
    
</body>
</html>