<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <h1 class="pl-200 py-2 text-3xl grid ">   Edit Your Profile Pic</h1>
        <form action="/profilepic" method="post" enctype="multipart/form-data">
            <input type="file" name="profilepic" class="px-4 py-2 mx-1 my-2 rounded-md outline-none bg-transparont border-2  border-zinc-700 ">
            <input type="submit" class="px-4 py-2 mx-1 my-2 bg-blue-500 rounded-md outline-none " value="Update Profile Pic">
       
    </div>
    
</body>
</html>